body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(228, 221, 213, 0.087);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
main {
  opacity: 0;
  display: none;
  transition: opacity 0.25s ease-in;
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-weight: 200;
  position: fixed;

  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);

  backdrop-filter: blur(4px);
  /* box-shadow: 2px 2px 5px #aaaaaa; */
  backdrop-filter: blur(5px);
  top: 0;
  transition: top 0.3s;
}
header nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  word-spacing: 3em;
}
header h1 a {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
}
header nav h1 {
  margin-bottom: 0;
}
li {
  display: flex;
  flex-direction: row;
}
ul a {
  color: black;
  text-decoration: none;
}
ul a:hover {
  padding-bottom: 5px;
  border-bottom: black 1px solid;
}
a:hover {
  color: black;
}
.nav-list {
  margin: 0;
}
.bg1 {
  background-image: url(imgs/home2.png);
  background-size: contain;
}
.box1 {
  padding-top: 5em;
  display: flex;
  height: 85vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
}
div h1 {
  font-size: 6em;
  font-weight: 700;
}
div p {
  font-weight: 200;
  font-size: 1.1em;
}
.bg2 {
  background-image: url(imgs/about\ 2.png);
  background-size: contain;
  height: 100vh;
}
.about-me {
  margin-top: 1em;
  display: flex;
  height: 50vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.about-me-h2 {
  text-align: center;
  font-size: 3em;
  width: 100vw;
  height: 20vh;
  margin-top: 4em;
}

.p-container {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 45vh;
  width: 50vw;
  background-color: white;
  box-shadow: 2px 2px 40px rgb(204, 204, 204);
  border-radius: 20px;
}
a {
  text-decoration: none;
}
.contact {
  margin-top: 14em;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 7em;
}
.contact h2 {
  font-weight: 700;
  font-size: 3em;
}
form {
  text-align: center;
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.submit {
  transition: 0.5s;
  padding: 0.8em 2em;
  color: white;
  background-color: black;
  border: black;
  border-radius: 4px;
}
.submit:hover {
  transition: 0.25s;
  color: black;
  background-color: white;
}
footer {
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1.5em;
}
footer a {
  transition: 0.5s;
  color: black;
}
footer a:hover {
  transition: 0.25s;
  color: rgb(177, 177, 177);
}
.projects {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  margin-top: 14em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}
.projects h2 {
  padding-top: 10vh;
  font-size: 3em;
  margin-bottom: 1em;
}
.projectsContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 800px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 7em;
  /* background-color: black; */
  /* border: 1px black solid; */
  /* align-items: center; */
}
.pImages {
  border-radius: 20px;
  width: 400px;
  margin: 0.7em;
  /* box-shadow: 2px 2px 10px rgba(255, 247, 235, 0.35); */
}

.bg3 {
  background-image: url(imgs/projects1.png);
  background-size: contain;
}
.bg4 {
  background-image: url(imgs/contact1.png);
  background-size: contain;
}
@media screen and (max-width: 959px) {
  .box1 {
    padding: 2em;
    height: 69em;
    /* width: 700px; */
    line-height: 1;
  }
  .about-me {
    padding: 2em;
    /* width: 700px; */
  }
  .projectsContainer {
    width: 650px;
    margin-bottom: 0;
  }
  .about-me-h2 {
    margin-top: 2em;
  }
  .projects {
    padding-top: 0;
    margin-top: 20em;
  }
  .bg2 {
    height: 900px;
  }
  .contact {
    margin-top: 6em;
    margin-bottom: 10em;
    padding: 0;
    height: 50em;
  }
  .p-container {
    height: 70vh;
    width: 50vw;
  }
  .about-me {
    height: 80vh;
  }
}
@media screen and (max-width: 692px) {
  .about-me {
    flex-direction: column-reverse;
    align-self: baseline;
  }
  .circle {
    /* width: 15em; */
    margin-left: 0;
    margin-bottom: 5vh;
  }
  .p-container {
    width: 80vw;
    height: 23em;
  }
  .about-me-h2 {
    height: 10vh;
  }
}
@media screen and (max-width: 430px) {
  header nav {
    width: 100vw;
    padding: 1em;
  }
  .projectsContainer {
    width: 100vw;
    height: 1200px;
  }
  .box1 {
    width: 100vw;
    margin-right: 0;
    margin-top: 9vh;
    height: 40em;
  }
  .about-me {
    margin-top: 20vh;
  }
  .circle {
    width: 10em;
  }
  .p-container {
    padding: 2em;
    width: 85vw;
    height: 50em;
  }
  .projects {
    margin-top: 15em;
    height: 1000px;
  }
  form {
    width: 80vw;
  }
  .contact {
    height: 80vh;
    margin-bottom: 5em;
  }
}
