body {
  background-color: rgba(228, 221, 213, 0.087);
  display: flex;
  flex-direction: column;
  margin: 0;
}
header {
  /* padding-top: 1vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  font-weight: 200;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(185, 185, 185, 0.293);
}
header nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  word-spacing: 3em;
}
header h1 a {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
}
header nav h1 {
  margin-bottom: 0;
}
li {
  display: flex;
  flex-direction: row;
}
ul a {
  color: black;
  text-decoration: none;
}
ul a:hover {
  padding-bottom: 5px;
  border-bottom: black 1px solid;
}
a:hover {
  color: black;
}
.nav-list {
  margin: 0;
}
.box1 {
  display: flex;
  height: 100vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
}
div h1 {
  font-size: 6em;
  font-weight: 700;
}
div p {
  font-weight: 200;
  font-size: 1.1em;
}
.about-me {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
}
.about-me-h2 {
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 3em;
  width: 50vw;
}
.p-container {
  width: 50vw;
}
.projects {
  margin-top: 5vh;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
}
.project-items1 {
  transition: 0.25s;
  background-image: url(imgs/Screen\ Shot\ 2022-11-08\ at\ 8.38.07\ AM.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 400px;
  margin: 20px;
  box-shadow: 0 10px 30px -15px rgba(60, 60, 60, 0.293);
  border-radius: 15px;
}
.project-items1:hover {
  transition: 0.25s;
  opacity: 0.4;
}
.project-items2 {
  transition: 0.25s;
  background-image: url(imgs/Screen\ Shot\ 2022-11-08\ at\ 8.38.44\ AM.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 400px;
  margin: 20px;
  box-shadow: 0 10px 30px -15px rgba(60, 60, 60, 0.293);
  border-radius: 15px;
}
.project-items2:hover {
  transition: 0.25s;
  opacity: 0.4;
}
.project-items3 {
  transition: 0.25s;
  background-image: url(imgs/SwipeOutHunger\ iPhone\ Mockup\ TWC\ 444\ LINA\ VO.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 400px;
  margin: 20px;
  box-shadow: 0 10px 30px -15px rgba(60, 60, 60, 0.293);
  border-radius: 15px;
}
.project-items3:hover {
  transition: 0.25s;
  opacity: 0.4;
}
.project-items4 {
  transition: 0.25s;
  background-image: url(imgs/Comp1-1.jpeg);
  background-size: cover;
  height: 250px;
  width: 400px;
  margin: 20px;
  box-shadow: 0 10px 30px -15px rgba(60, 60, 60, 0.293);
  border-radius: 15px;
}
.project-items4:hover {
  transition: 0.25s;
  opacity: 0.4;
}
.project-items5 {
  transition: 0.25s;
  background-image: url(imgs/Screen\ Shot\ 2022-11-08\ at\ 9.00.27\ AM.png);
  background-size: cover;
  height: 250px;
  width: 400px;
  margin: 20px;
  box-shadow: 0 10px 30px -15px rgba(60, 60, 60, 0.293);
  border-radius: 15px;
}
.project-items5:hover {
  transition: 0.25s;
  opacity: 0.4;
}
.project-title {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 400px;
}
.project-name {
  transition: 0.25s;
  color: rgb(92, 92, 92);
  background-color: white;
  padding-bottom: 2em;
  width: 400px;
  height: 7vh;
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 0% 0% 15px 15px;
}
.project-name:hover {
  transition: 0.25s;
  color: rgb(222, 222, 222);
}
a {
  text-decoration: none;
}
.socialMediaContainer {
  margin: 9em 3em 6em 3em;
  display: flex;
  /* align-items: center; */
}
.socialMediaText {
  margin-right: 5em;
}
.alignImgandButt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.clickMe {
  transition: 0.2s;
  margin-top: 2em;
  font-size: 1.5em;
  padding: 0.8em 2em;
  border: black 2px solid;
  color: white;
  background-color: black;
}
.clickMe:hover {
  opacity: 0.6;
}
.swipeHunger {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}
.contact {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.contact h2 {
  font-weight: 700;
  font-size: 3em;
}
form {
  text-align: center;
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.submit {
  transition: 0.5s;
  padding: 0.8em 2em;
  color: white;
  background-color: black;
  border: black;
  border-radius: 4px;
}
.submit:hover {
  transition: 0.25s;
  color: black;
  background-color: white;
}
